<div class="content">
    <h2>Editar dependencia</h2>
    <br/><br/>
    <form [formGroup]="form" #editarDependenciaForm="ngForm" (ngSubmit)="editar(form)">

      <mat-dialog-content>
        <mat-form-field  class="col-xs-12" style="width: 80%;">
          <input autocomplete="off" matInput formControlName="nombre" placeholder="Nombre">
        </mat-form-field>

        <mat-form-field  class="col-xs-12" style="width: 80%;">
          <input autocomplete="off" matInput formControlName="codigo" placeholder="Codigo">
        </mat-form-field>

        <mat-form-field class="col-xs-12" style="width: 97%;">
          <mat-label>Dependencia padre</mat-label>
          <mat-select [(value)]="selected"  autocomplete="off" matInput formControlName="fk_dependencia">
            <mat-option *ngFor="let dependencia of dependencias2" [(value)]="dependencia.id" >{{dependencia.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-xs-12" style="width: 97%;">
          <mat-label>Jefe de la dependencia</mat-label>
          <mat-select [(value)]="selected2"  autocomplete="off" matInput formControlName="fk_empleado">
            <mat-option *ngFor="let empleado of empleados" [(value)]="empleado.id" >{{empleado.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>


      </mat-dialog-content>

      <br/><br/>

      <div class="btns">
        <button [routerLink]="['/dependencia']" class="btn1" color="primary" type="submit" mat-raised-button mat-dialog-close>Cancelar</button>
        <button [disabled]="!editarDependenciaForm.form.valid" mat-raised-button class="btn2" color="primary" type="submit">Actualizar</button>
      </div>

    </form>

</div>
