
<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<html>
<div>

    <!--MODULOS-->

    <div id="modulos">
      <button id="btnMod1" mdbBtn color="white" class="waves-light" type="button" (click)="test.toggle()" mdbWavesEffect>
        <mdb-icon fas icon="list-ul"></mdb-icon>
                 Modulos
      </button>
      <div class="" mdbCollapse #test="bs-collapse">
        <button id="btnMod" type="button" mdbBtn color="white" mdbWavesEffect>E. Organizacional</button>
        <button id="btnMod" type="button" mdbBtn color="white" mdbWavesEffect>Tipos de solicitudes</button>
        <button id="btnMod" type="button" mdbBtn color="white" mdbWavesEffect>Flujo de solicitudes</button>
        <button id="btnMod" type="button" mdbBtn color="white" mdbWavesEffect>Gestion de solicitudes</button>
      </div>
    </div>

    <!-- BOTON ADD-->



    <!-- ARBOL-->

    <div id="datos" class="table-responsive">

      <br/>
      <button mdbBtn type="button" color="default"
      rounded="true" mdbWavesEffect (click)="openDialog()">
      <mdb-icon fas icon="plus"></mdb-icon>
      </button>

      <br/><br/>

      <div id="jstree">

        <ul *ngFor="let empleado of empleados">
          <li data-jstree='{"icon":"fa fa-folder"}'>
            {{empleado.nombre}}
            <ul>
              <li data-jstree='{"icon":"fa fa-folder"}'>Id: {{empleado.id}}
              <li data-jstree='{"icon":"fa fa-folder"}'>N. Identificación: {{empleado.num_identificacion}}</li>
              <li data-jstree='{"icon":"fa fa-folder"}'>Correo: {{empleado.email}}</li>
              <li data-jstree='{"icon":"fa fa-folder"}'>Fecha de creación: {{empleado.createdAt}}</li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>



  <!--BOTON EMPLEADO-->


  <!--ejemplo-->
</html>
